:root {
  --brand-color: #2196f3;
  --grey-color: #757575;
  --white-color: #ffffff;
  --white-color06: #ffffff99;
  --grey-background-color: #f5f4fa;
  --panetone-color: #2f303a;
}

.link {
  color: inherit;
  text-decoration: none;
}
li .link:hover {
  color: var(--brand-color);
}
li .link:focus {
  color: var(--brand-color); 
}
.contact .grey:hover{
  color: var(--brand-color);
}
.contact .grey:focus{
  color: var(--brand-color);
}
.link-footer {
  color: var(--white-color06);
  text-decoration: none;
}
.blue {
  color: var(--brand-color);
}
.white {
  color: var(--white-color);
}
.grey {
  color: var(--grey-color);
}
.our-team {
  background: var(--grey-background-color);
}
.footer {
  background: var(--panetone-color);
}
.header {
  background: var(--panetone-color);
}
.header .white {text-transform: uppercase;}